# Copy this file to .env and edit it to suit your needs.
DIARY_DIRPATH=~/diary/diary_entries
# Command to open the diary editor, leave empty to simply print the path to the diary entry.
DIARY_EDITOR=
# The target for the diary editor. Can be either "file" or "folder".
DIARY_EDITOR_TARGET=file
